<?xml version="1.0" encoding="UTF-8"?>
<PermissionSet xmlns="http://soap.sforce.com/2006/04/metadata">
<description>PS to provide Read and Write (and create) access to all Leads and Opportunities - initial aim - assign to all Marketing Team members</description>
<hasActivationRequired>false</hasActivationRequired>
<label>Expereo Read/Edit All Leads and All Opportunities</label>
<license>Salesforce</license><fieldPermissions>
<field>Lead.Address</field>
<readable>true</readable>
<editable>true</editable>
</fieldPermissions><fieldPermissions>
<field>Lead.Address</field>
<readable>true</readable>
<editable>true</editable>
</fieldPermissions><fieldPermissions>
<field>Lead.Address</field>
<readable>true</readable>
<editable>true</editable>
</fieldPermissions><fieldPermissions>
<field>Lead.Address</field>
<readable>true</readable>
<editable>true</editable>
</fieldPermissions><fieldPermissions>
<field>Lead.Address</field>
<readable>true</readable>
<editable>true</editable>
</fieldPermissions></PermissionSet>